<script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="default-page">
  <div class="header" id="header"></div>
  <div class="main container clearfix" id="main"></div>
</div>
