html,
body {
  text-align: left;
  font-size: 1em;
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
img,
form,
textarea,
input,
fieldset,
div,
p,
div,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
  font-weight: normal;
  font-family: inherit;
}
*:active,
*:focus {
  outline: 0;
  -moz-outline-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
div.clear {
  clear: both;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}
.loading {
  padding: 20px;
  text-align: center;
}
.not-found {
  text-align: center;
  h1 {
    font-size: 100px;
    padding: 40px;
  }
}

.wrapper-page {
  min-height: 100%;
  margin-bottom: -142px;
}
.wrapper-page:after {
  content: "";
  display: block;
}
.content-page {
  margin-top: 70px;
  min-height: 100%;
}

.medica-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;

    .footer-links {
      padding-left: 0;
      margin-bottom: 20px;

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          color: #fff;
        }
      }
    }
}
